<form method="POST" action="/add-reminder">

    <div class="row">

        <div class="col">

            <input name="title" class="form-control" placeholder="Nama kegiatan">

        </div>

        <div class="col">

            <input type="date" name="date" class="form-control">

        </div>

        <div class="col">

            <input type="time" name="time" class="form-control">

        </div>

        <div class="col">

            <button class="btn btn-primary">

                Tambah

            </button>

        </div>

    </div>

</form>